
.iconos-nosotros {
    
    @include grid(3, 2);
    place-content: center;
    
    text-align:center;
    
    @include tablet{
       @include grid(1, 2);
    }
}

.icono {
    display: flex;
    flex-direction: column;
    place-items: center;

    width: 100%;

    img{
        height: 10rem;
        width: 10rem;
    }
    h3{
        text-transform: uppercase;
    }
    p{
        font-weight: $delgada;
    }
}