

h1{
    font-weight: $black;
    font-size: 5rem;
    margin-bottom: 4rem;
}

.contenido-itsp, .contenido-ifm, .contenido-lo-que-creemos {
    @include grid(10, 4rem);
    place-content: center;
    padding-bottom: 4rem;

    blockquote{
        font-weight: $bold;
        color: $azulfuerte;
        font-size: 3rem;
    }

    @include tabletpro {
        display: flex;
        flex-wrap: wrap;
    }
}

.nosotros-img {
    grid-column: 1 / 4;
}

.nosotros-text{
    grid-column: 4 / 11;
    text-align: justify;
    font-size: 2rem;
    line-height: 2;
}

.contenido-lo-que-creemos {
    p{
        font-size: 2.2rem;
    }
    ol li{
        font-size: 2rem;

    }
}

.mapa-curricular{
    display: flex;
    flex-direction: column;
    padding: 4rem 0;

    h2{
        font-weight: $bold;
        color: $azulfuerte;
    }

    p{
        font-size: 2.2rem;
    }

    picture{
        padding-bottom: 2rem;
    }

    a {
        font-size: 2rem;
        padding: 1em 3.3em;
        transform: perspective(200px) rotateX(15deg);
        color: white;
        text-align: center;
        font-weight: 900;
        border: none;
        border-radius: 5px;
        background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(70,135,252,1) 100%);
        box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
        will-change: transform;
        transition: all 0.3s;
        border-bottom: 2px solid rgba(70,135,252,1);
       }
       
       a:hover {
        transform: perspective(180px) rotateX(30deg) translateY(2px);
       }
       
       a:active {
        transform: perspective(170px) rotateX(36deg) translateY(5px);
       }
}